//- 5장 35페이지 index.pug 내용 그대로 복사해서 locations-list만듦 아래 이건 형식에 불과하고 아래 코드가 진짜 코드
//- extends layout 

//- block content
//-  h1= title 
//-  p.subtitle Welcome to #{title}



//- 5장 41페이지

//- extends layout

//- block content
//-     .row.banner
//-         .col-12
//-             h1 Loc8r
//-             small &nbsp;Find places to work with wifi near you!

//-     .row
//-         .col-12.col-md-8
//-             .card
//-                 .card-block
//-                     h4 
//-                         a(href="/location") Starcups
//-                         small &nbsp;
//-                         i.fas.fa-star
//-                         i.fas.fa-star
//-                         i.fas.fa-star
//-                         i.far.fa-star
//-                         i.far.fa-star
//-                         span.badge.badge-pill.badge-default.float-right 100m
//-                     p.address 125 High Street, Reading, RG6 1PS
//-                     .facilities
//-                         span.badge.badge-warning Hot drinks
//-                         span.badge.badge-warning Food
//-                         span.badge.badge-warning Premium wifi
//-         .col-12.col-md-4
//-             p.lead Loc8r helps you find places to work when out and about.





//- 6장 35페이지

extends layout
include _includes/sharedHTMLfunctions
block content
  .row.banner
    .col-12
      h1= pageHeader.title
      small &nbsp;#{pageHeader.strapline}
  .row
    .col-12.col-md-8
      .error= message
      each location in locations
        .card
          .card-block
            h4
              a(href=`/location/${location._id}`)= location.name
              +outputRating(location.rating)
              span.badge.badge-pill.badge-default.float-right= location.distance
            p.address= location.address
            .facilities
              each facility in location.facilities
                span.badge.badge-warning= facility
    .col-12.col-md-4
      p.lead= sidebar